<h1>Listing Collections</h1>

<table>
  <col width="auto">
  <col width="auto">
  <col width="autoo">
  <col width="auto">
  <col width="autoo">
  <col width="auto">
  <col width="auto">
  <col width="220">
  <thead>
    <tr>
      <th>Book</th>
      <th>Chapter</th>
      <th>Article</th>
      <th>Dissertation</th>
      <th>Notes</th>
      <th>Attachment</th>
      <th>Tags</th>
      <th>Action</th>
      
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.book %></td>
        <td><%= collection.chapter %></td>
        <td><%= collection.article %></td>
        <td><%= collection.dissertation %></td>
        <td>
          <% if collection.document.exists? %>
          <%= link_to collection.document_file_name, collection.document.url %></td>
          <% end %>
        <td><%= collection.notes %></td>
        <td><%= collection.tag_list %>
          
          <!-- attempt to have tags as clickable links 
          collection.taggings.each do |tag| %>

          link_to collection.tags.find(tag), tag_path(tag) %>
          end %>
         -->
        </td>
        <td>
          <div class="button-bar">
            <ul class="button-group round">
              <li><%= link_to ' View', collection, :class => "fi-results icon-small small button secondary" %></li>
              <li><%= link_to ' Edit', edit_collection_path(collection), :class => "fi-pencil icon-small small button secondary" %></li>
              <li><%= link_to ' Trash', collection, :class => "fi-trash icon-small small button secondary", method: :delete, data: { confirm: 'Are you sure?' } %></li>
            </ul>
          </div>
        </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path, :class => "small button radius" %>

