<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @collection.book %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @collection.chapter %>
</p>

<p>
  <strong>Article:</strong>
  <%= @collection.article %>
</p>

<p>
  <strong>Dissertation:</strong>
  <%= @collection.dissertation %>
</p>

<!-- TODO: add attachment for notes. -->
<p>
  <strong>Notes:</strong>
  <%= @collection.notes %>
</p>

<p>
  <strong>Publication:</strong>
  <% if @collection.document.exists? %>
    <img src="<%= @collection.document.url %>">
    <% end %>
</p>
<p>
  <strong>Tags:</strong>
  <% @collection.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<% if logged_in? %>
  <div class="button-bar">
    <ul class="button-group round">
      <li><%= link_to ' Edit', edit_collection_path(@collection), :class => "fi-pencil icon-small small button secondary" %></li>
      <li><%= link_to ' Collections', collections_path, :class => "fi-list icon-small small button secondary" %></li>
    </ul>
  </div>
<% end %>
